html{
    height: 100%;
}
body {
    background-color: #1F1D2B;
    background-image: url("../img/BG.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

div.logo {
    position: absolute;
    left: 6vw;
    top: -1vw;
   width: 20.6vw;
}

div.conwal {
    position: absolute;
    left: 68.86vw;
    top: 3.66vh;
    padding: 1.1vh 4.7vw;
    border-radius: 8px;
    background-color: white;
    color: #1E1E38;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;  
}

div.connected {
    display: none;
    position: absolute;
    left: 68.86vw;
    top: 3.66vh;
    padding: 1.1vh 4.7vw;
    border-radius: 8px;
    background-color: white;
    color: #1E1E38;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;  
}

div.section {
    position: absolute;
    left: 6.07vw;
    top: 24vh;
}

h1.pname {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 11vh;
}

p.intro {
    width: 45vw;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

p.connect {
    width: fit-content;
    padding: 5px 5.6vw;
    background-color: #fff;
    border-radius: 24px;
    color: #1E1E38;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    margin-top: 64px;
}

p.enterapp {
    display: none;
    width: fit-content;
    padding: 5px 5.6vw;
    background-color: #fff;
    border-radius: 24px;
    color: #1E1E38;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    margin-top: 64px;
}

.socmed {
    width: 22.5vw;
    display: flex;
    justify-content: space-around;
}

.imggif {
    width: 45.12vw;
    height: 73.3vh;

    position: absolute;
    top: 20vh;
    right: -4px;
}

.image2 {
    transform: rotate(-15deg);
}

.image3 {
    transform: rotate(15deg);
}


.imggif img {
    width: 75%;
    position: absolute;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.image3 {
      animation-delay: 1s;
    }
.image2 {
      animation-delay: 0.5s;
    }
.image1 {
      animation-delay: 0;
    }



@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
    z-index: 1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0.1;
  }
  92% {
    opacity:0.1;
  }
  100% {
    opacity:1;
  }
}

.walpopup {
    display: none;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
   margin-top: 180px;
}

.walletoption {
    background-color: white;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

.walletoption p{
    text-align: center;
    background-color: #1D1F4B;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    padding: 12px 36px;
    margin: 12px;
}

.walletconnect {
    opacity: 0.7;
    border-radius: 8px 8px 0px 0px;
}

.fortmatic {
    opacity: 0.7;
    border-radius: 0px 0px 8px 8px;
}

